@font-face {
  font-family: "League Gothic";
  src: url('/fonts/LeagueGothic.otf');
}
@font-face {
  font-family: Prociono;
  src: url('/fonts/ProcionoTT.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Gothic";
}

h1 { font-family: "bello-pro-1", "bello-pro-2"; }
h2 { font-family: "corner-store-1", "corner-store-2"; }
h3 { font-family: "olidia-1", "olidia-2"; }

p {
  font-family: Prociono;
}
#header {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}
/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
