@font-face {
  font-family: "League Gothic";
  src: url('/fonts/LeagueGothic.otf');
}
@font-face {
  font-family: Prociono;
  src: url('/fonts/ProcionoTT.ttf');
}

#header {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}
.toolbar {
  padding: 15px;
  -webkit-box-shadow: 0 1px 2px 0 #999;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(.5, #ccc),
      color-stop(1, #ebebeb)
  );
  border-bottom: 1px solid #fff;
}
.toolbar select {
  -webkit-box-shadow: 0 0 3px 0 #333;
  display: block;
}
/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
